.banner {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 220px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 5%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* filtre sombre */
  z-index: 1;
  border-radius: 25px;
}

.banner h1 {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}
